/*
Theme Name: 	WestWay Theme 1.0
Theme URI: 		http://westwaytechnology.com
Author: 		WestWay
Author URI: 	http://westwaytechnology.com
Description:	Website theme
Template:		parent_theme
Version: 		1.6
*/

/* Theme customization starts here
-------------------------------------------------------------- */

.wpb_wrapper > div {
    margin-bottom: 0% !important;
}

@media only screen and (max-width: 767px)
body:not(.template-slider):not(.header-simple) 

#Header {
    min-height: 60px;
    }
.mobile-header-mini #Top_bar #logo{
height:auto;line-height:150%;
}
    
.maxbutton-1 .maxbutton .maxbutton-submit .maxbutton-preview normal {
    color: #fff;
    text-shadow-color: #000;
    font-family: Montserrat;
    font-size: 1em;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    text-shadow-top: 0em;
    padding-top: .5em;
    padding-right: 0px;
    padding-bottom: .25em;
    padding-left: 0em;
    line-height: 1em;
    box-sizing: border-box;
    display: block;
    /* background: none; */
    position: relative;
}
}
.maxbutton-1 .maxbutton .maxbutton-submit .maxbutton-preview hover{
position: relative;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 2em;
    border-radius: 100px;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    background: linear-gradient(rgba(0, 112, 201, 0.6) 45%, rgba(0, 112, 201, 0.6));
}
.maxbutton-1.maxbutton.maxbutton-submit .mb-text {
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: Montserrat;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25em;
    padding-bottom: .25em;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: .5em;
    position: relative;
    text-align: center;
}
.maxbutton-1.maxbutton.maxbutton-submit:hover .mb-text {
    color: #fff;
}
@media only screen and (max-width: 480px) {
.maxbutton-1.maxbutton.maxbutton-submit {
    width: 90%;
}
.maxbutton-1.maxbutton.maxbutton-submit .mb-text {
    font-size: 12px;
}

